@tailwind base;
@tailwind components;
@tailwind utilities;

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

.input {
  @apply w-full bg-gray-800/50 border border-slate-600 rounded-lg py-2 pl-10 pr-4 text-white placeholder-white focus:ring-2 focus:ring-gray-500 focus:border-transparent;
}

.auth-input-icon {
  @apply absolute left-3 top-1/2 -translate-y-1/2 text-white size-5;
}

.auth-input-label {
  @apply block text-sm font-medium text-white mb-2;
}

.auth-badge {
  @apply inline-flex items-center px-3 py-1 text-xs font-medium rounded-full bg-gray-500/20 text-white;
}

.auth-btn {
  @apply w-full bg-gray-500 text-white rounded-lg py-2.5 font-medium
  hover:bg-gray-600 focus:ring-2 focus:ring-gray-500;
}

.auth-link {
  @apply px-4 py-2 inline-block bg-gray-400/10 rounded-lg text-gray-100
  hover:text-white text-sm transition-colors;
}
